:root {
    --black: #333333;
    --white: #f5f5f5;
    --background: var(--white);
    --foreground: var(--black);
    --transition: 0.5s ease;

    --toggle-height: 30px;

    --svg-size: calc(0.46 * var(--toggle-height));
    --toggle-width: calc(var(--toggle-height) * 2.0);
    --toggle-circle-radius: calc(var(--toggle-height) * 0.63);
    --toggle-circle-padding: calc((var(--toggle-height) - var(--toggle-circle-radius)) / 2.0);
    --toggle-radius: calc((var(--toggle-circle-radius) / 2) + var(--toggle-circle-padding));
}

html {
    background: var(--background);
    color: var(--foreground);
    transition: color var(--transition), background var(--transition);
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.toggle-wrapper {
    width: var(--toggle-width);
    display: block;
    margin: auto;
    /* Centering for demo */
}

.toggle {
    box-sizing: border-box;
    height: var(--toggle-height);
    width: var(--toggle-width);
    border-radius: var(--toggle-radius);
    padding: var(--toggle-circle-padding);
    position: relative;
    background: var(--foreground);
    transition: background var(--transition);
    cursor: pointer;
}

.toggle::before {
    content: "";
    display: block;
    height: var(--toggle-circle-radius);
    width: var(--toggle-circle-radius);
    border-radius: 30px;
    background: var(--background);
    position: absolute;
    z-index: 2;
    transform: translate(0);
    transition: transform var(--transition), background var(--transition);
}

.toggle.enabled::before {
    transform: translateX(var(--toggle-height));
}

.toggle input {
    opacity: 0;
    position: absolute;
    top: 0;
}

.toggle .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 5px;
}

.toggle .icons svg {
    fill: var(--background);
    height: var(--svg-size);
    width: var(--svg-size);
    z-index: 0;
}