::selection {
    background: transparent;
}

.controls {
    text-align: center;
}

.board-wrapper {
    position: relative;
    border: 4px solid #001F1F;
    border-radius: 9px;
    width: 325px;
    height: 325px;
    margin: 0 auto;
    margin-top: 25px;
}

.board-wrapper span {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

.board-wrapper span.number {
    cursor: pointer;
    font: bold 36px/80px Arial;
    text-align: center;
    color: #fff;
    background: #003333;
}

.board-wrapper span.blank {
    background: transparent;
}

.animate span {
    --animation-time: 0.25s;
    -webkit-transition: var(--animation-time) left, var(--animation-time) top;
    transition: var(--animation-time) left, var(--animation-time) top;
}

.timer {
    font: bold 36px/80px Arial;
    text-align: center;
    margin-top: 35px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: red;*/
    color: white;
    padding-bottom: 10px;
}